= form_for @party do |f|
  - if @party.errors.any?
    #error_explanation
      %h2= "#{pluralize(@party.errors.count, "error")} prohibited this party from being saved:"
      %ul
        - @party.errors.full_messages.each do |message|
          %li= message
          
          
          
    
  .actions
    = f.label :name, 'Name of party:', :required => true
    = f.text_field :name
    %br
    = f.label :name_ab, 'Name abbrieviation:'
    = f.text_field :name_ab
    %br
    = f.submit 'Save'
