-if flash.key?(:notice)
  %div{class: "alert alert-success", role: "alert"}
    = notice
    %button{class: "close", "data-dismiss" => "alert", "aria-label" => "Close"}
      %span{"aria-hidden" => "true"}
        &times;

%h1.display-4 Editing #{@party.name}
%br

-if flash.key?(:error)
  %div{class: "alert alert-danger", role: "alert"}
    %b= "Party information was not updated:"
    %button{class: "close", "data-dismiss" => "alert", "aria-label" => "Close"}
      %span{"aria-hidden" => "true"}
        &times;
    %ul
      -flash[:error].split(', ').each do |message|
        %li= message

= form_tag party_path(@party), :class=> 'row', method: :put do
  //= label :party, :name, 'Name'
  = text_field :party, 'name',:class=>"form-control col-3 ml-4 mr-3 "
  = submit_tag 'Update Name', :class => 'btn btn-warning col-2' , data: { confirm: 'Are you sure?' }
  

%br

= form_tag party_path(@party), :class=> 'row', method: :put do
  //= label :party, :name, 'Name'
  = text_field :party, 'name_ab',:class=>"form-control col-3 ml-4 mr-3 "
  /= text_field  class="form-control col-3 ml-4 mr-3 ", placeholder= "#{@party.name_ab}"
  = submit_tag 'Update abv' ,:class => 'btn btn-warning col-2', data: { confirm: 'Are you sure?' }
  
  
%br
%h2.display-5 Update Members
%table#party{:class => 'table table-hover', :id => 'candidates'}
  %thead.thead-dark
    %tr
      %th{:scope => 'col'} Given Name
      %th{:scope => 'col'} Surname
      %th{:scope => 'col'} Divison
      %th{:scope => 'col'} Positon
      %th{:scope => 'col'} Edit
      %th{:scope => 'col'} Remove
  %tbody
    - @candidates.each do |candidate|
      %tr
        %td= candidate.given_name
        %td= candidate.surname
        %td= candidate.divison_name
        %td= candidate.party_pos + 1
        %td= link_to 'Edit', edit_party_candidate_path(@party, candidate), :class => 'btn btn-link'
        %td= link_to 'Destroy', party_candidate_path(@party, candidate), :class => 'btn btn-link', method: :delete, data: { confirm: 'Are you sure?' }


%br
= link_to 'Add Candidate', new_party_candidate_path(@party), :class => 'btn btn-success'
= link_to "Go to #{@party.name} index", party_path, :class => 'btn btn-secondary'
= link_to 'Go to Parties list', parties_path, :class => 'btn btn-dark'
= link_to 'Destroy', party_path(@party), method: :delete, data: { confirm: 'Are you sure?' }, :class => 'btn btn-danger'