%h2.display-4 Listing parties

%table{:class => 'table table-hover'}
  %thead.thead-dark
    %tr
      %th Party Name
      %th View Party
      %th Edit Party
      %th Delete Party

  %tbody
    - @parties.each do |party|
      %tr
        %td= party.name
        %td= link_to 'Show', party, :class => 'btn btn-info'
        %td= link_to 'Edit', edit_party_path(party), :class => 'btn btn-primary' 
        %td= link_to 'Destroy', party, method: :delete, data: { confirm: 'Are you sure?' }, :class => 'btn btn-danger'

%br

= link_to 'New Party', new_party_path, :class => 'btn btn-success'
