%h1 Listing parties

%table.table
  %thead
    %tr
      %th Party Name
      %th View Party
      %th Edit Party
      %th Delete Party

  %tbody
    - @parties.each do |party|
      %tr
        %td= party.name
        %td= link_to 'Show', party
        %td= link_to 'Edit', edit_party_path(party)
        %td= link_to 'Destroy', party, method: :delete, data: { confirm: 'Are you sure?' }

%br

= link_to 'New Party', new_party_path
