%p#notice= notice

%h2.display-4= @party.name
%br

%table{:class => 'table table-hover', :id => 'candidates'}
  %thead.thead-dark
    %tr
      %th{:scope => 'col'} Name
      %th{:scope => 'col'} Surname
      %th{:scope => 'col'} Divison
      %th{:scope => 'col'} State
      %th{:scope => 'col'} Positon
  %tbody.sortable
    - @candidates.each do |candidate|
      %tr{:id => candidate.sortable_id}
        %td{name: 'candidate-name'}= candidate.given_name  
        %td{name: 'candidate-surname'}= candidate.surname
        %td{name: 'candidate-div'}= candidate.divison_name
        %td{name: 'candidate-state'}= candidate.state
        %td{name: 'candidate-sort-pos'}= candidate.party_pos + 1

= link_to 'Edit Info', edit_party_path(@party), :class => 'btn btn-primary'
= link_to 'Add Candidate', new_party_candidate_path(@party), :class => 'btn btn-success'
= link_to 'Remove Candidate', edit_party_path(@party), :class => 'btn btn-danger'
= link_to 'Back', parties_path, :class => 'btn btn-secondary'