= form_for @candidate, url: party_candidate_path(params[:party_id], @candidate), method: :put do |f|
    %div.form-row
        %div{class: "form-group col-md-5 ml-4"}
            = f.label :first_name
            = f.text_field :given_name, class: "form-control"
        %div{class: "form-group col-md-5 ml-4"}
            = f.label :last_name
            = f.text_field :surname, class: "form-control"
    
    %div.form-row
        %div{class: "form-group col-md-5 ml-4"}
            = f.label :divison_name
            = f.text_field :divison_name, class: "form-control"
        %div{class: "form-group col-md-5 ml-4"}
            = f.label :state
            = f.select :state, %w(NSW NT QLD SA TAS VIC WA ACT), {}, class: "form-control"
        
    %div.action
        = f.submit 'Update', class: "btn btn-warning col-md-3 ml-4", data: { confirm: 'Are you sure?' }