%h1 Editing #{@party.name}

= form_tag candidates_path(@candidate), method: :put do
  = label :candidate, :given_name, 'Given Name'
  = text_field :candidate, 'given_name'
  
  = label :candidate, :surname, 'Surname'
  = text_field :candidate, 'surname'
  
  = label :candidate, :divison_name, 'Divison'
  = text_field :candidate, 'divison name'
  
  = label :candidate, :state, 'State'
  = select :candidate, :state, ['SA','VIC','NT','WA','TAS', 'QLD', 'CAN']
  
  = submit_tag 'Update abv'  


= link_to 'Return to Candidates list', candidates_path
