%div{class:"btn-group float-right ml-5 mr-5", role:"group"}
  %button{class:"btn btn-secondary dropdown-toggle", "data-toggle"=>"dropdown", "aria-haspopup"=>"true", "aria-expanded"=>"false"}Admin
  %div{class:"dropdown-menu"}
    %button{class:"dropdown-item", "aria-label" => "login", "data-toggle"=>"modal", "data-target"=>"#login"}Control Panel
    /= link_to 'Control Panel',  parties_path, :class => 'dropdown-item'
    = link_to 'View Votes', "/vote", :class => 'dropdown-item'
    = link_to 'Test Vote', "/vote", :class => 'dropdown-item'

%div{class: "text-center"}
  %img{src:"https://www.neilpharaoh.com.au/wp-content/uploads/2018/02/AEC-logo-1024x579.jpg", class:"img-fluid", alt:"Responsive image"}
  %br
  %button{class:"btn btn-primary btn-lg col-3", "aria-label" => "How voting works", "data-toggle"=>"modal", "data-target"=>"#votingworks"}How voting works
  %br
  %br
  %button{class:"btn btn-info btn-lg col-3", "aria-label" => "How to vote", "data-toggle"=>"modal", "data-target"=>"#how2vote"}How to vote
  %br
  %br
  %button{class:"btn btn-success btn-lg col-3", "aria-label" => "Vote now", "data-toggle"=>"modal", "data-target"=>"#state_vote"}Vote now
  /= link_to 'Vote now',  new_vote_path(:state => 'SA'), :class => 'btn btn-success btn-lg col-3'



%div{class:"modal fade bd-example-modal-lg", "id"=>"votingworks", "tabindex"=>"-1", "role"=>"dialog", "aria-labelledby"=>"vwlabel", "aria-hidden"=>"true"}
  %div{class:"modal-dialog modal-lg", role:"document"}
    %div{class:"modal-content"}
      %div{class:"modal-header"}
        %h5{class:"modal-title", id:"vwlabel"}How voting works
        %button{type:"button", class:"close", "data-dismiss"=>"modal", "aria-label"=>"Close"}
        %span{"aria-hidden"=>"true"}
          &times;
      %div{class:"modal-body"}
        %div{class:"embed-responsive embed-responsive-16by9"}
          %iframe{width:"900", height:"506", src:"https://www.youtube.com/embed/bw15fhq_gDQ", frameborder:"0", allow:"accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"}

%div{class:"modal fade", "id"=>"how2vote", "tabindex"=>"-1", "role"=>"dialog", "aria-labelledby"=>"h2vlabel", "aria-hidden"=>"true"}
  %div{class:"modal-dialog", role:"document"}
    %div{class:"modal-content"}
      %div{class:"modal-header"}
        %h5{class:"modal-title", id:"h2vlabel"}How to vote
        %button{type:"button", class:"close", "data-dismiss"=>"modal", "aria-label"=>"Close"}
        %span{"aria-hidden"=>"true"}
          &times;
      %div{class:"modal-body"}
        %h2.display-5 step 1
        %h2.display-5 step 2
        %h2.display-5 step 3
      %div{class:"modal-footer"}
        %button{class:"btn btn-success", "aria-label" => "Vote now","data-dismiss"=>"modal", "data-toggle"=>"modal", "data-target"=>"#state_vote"}Vote now
        = link_to 'More info', "/vote", :class => 'btn btn-secondary'
        %button{class:"btn btn-dark", "data-dismiss"=>"modal"}Close
        
%div{class:"modal fade", "id"=>"state_vote", "tabindex"=>"-1", "role"=>"dialog", "aria-labelledby"=>"h2vlabel", "aria-hidden"=>"true"}
  %div{class:"modal-dialog", role:"document"}
    %div{class:"modal-content"}
      %div{class:"modal-header"}
        %h5{class:"modal-title", id:"h2vlabel"}Select state
        %button{type:"button", class:"close", "data-dismiss"=>"modal", "aria-label"=>"Close"}
        %span{"aria-hidden"=>"true"}
          &times;
      %div{class:"modal-body text-center"}
        = link_to 'SA', new_vote_path(:state => 'SA'), :class => 'btn btn-primary col-3'
        = link_to 'NT', new_vote_path(:state => 'NT'), :class => 'btn btn-primary col-3'
        = link_to 'NSW', new_vote_path(:state => 'NSW'), :class => 'btn btn-primary col-3'
        = link_to 'VIC', new_vote_path(:state => 'VIC'), :class => 'btn btn-primary col-3'
        = link_to 'WA', new_vote_path(:state => 'WA'), :class => 'btn btn-primary col-3'
        = link_to 'TAS', new_vote_path(:state => 'TAS'), :class => 'btn btn-primary col-3'
        = link_to 'ACT', new_vote_path(:state => 'ACT'), :class => 'btn btn-primary col-3'
        = link_to 'QLD', new_vote_path(:state => 'QLD'), :class => 'btn btn-primary col-3'
        = link_to 'NAT', new_vote_path(:state => 'NAT'), :class => 'btn btn-primary col-3'
      %div{class:"modal-footer"}
        %button{class:"btn btn-dark", "data-dismiss"=>"modal"}Close


%div{class:"modal fade", "id"=>"login", "tabindex"=>"-1", "role"=>"dialog", "aria-labelledby"=>"loginlabel", "aria-hidden"=>"true"}
  %div{class:"modal-dialog", role:"document"}
    %div{class:"modal-content"}
      %div{class:"modal-header"}
        %h5{class:"modal-title", id:"loginlabel"}Admin Login
        %button{type:"button", class:"close", "data-dismiss"=>"modal", "aria-label"=>"Close"}
        %span{"aria-hidden"=>"true"}
          &times;
      %div{class:"modal-body"}
        //=form_tag
        %label Username
        %input{class:"form-control"}
        %br
        %label Password
        %input{class:"form-control"}
        %br
        = link_to 'Login', parties_path, :class => 'btn btn-primary'
        %button{class:"btn btn-dark", "data-dismiss"=>"modal"}Cancel
        
        